{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>메인</title>
</head>

<body>
  <div class="header">
    <div class="helper">
        <div class="logo_home">
          <span>GOOD </span><span class="logo1">JOB</span>
        </div>
    </div>
  </div>


  <div class="box">
    <div class="wrpper_user">
      <button class="btn-1">
        <a href="memo/user_home">개인회원</a>
      </button>
    </div>
    <div class="wrpper_com">
      <button>
        <a href="accounts/login">기업회원</a>
      </button>
    </div>
  </div>
</body>

</html>




