{% extends 'base.html' %} <!--template 상속,확장하는 경우에는 extends를 먼저 작성해줍니다.-->
{% load static %}  <!--static 요소들을 가져오기 위해서 load해줍니다.-->

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/user_home.css' %}">
<!-- 각 페이지별로 고유하게 들어갈 head tag를 입력해줍니다. -->
{% endblock %}

{% block title %} 
굿잡 개인 메인
{% endblock %}
<!-- base.html에서 만들었던 title block부분에 각 페이지별로 다른 title을 입려해줄수 있습니다. -->

{% block user_logo %} 
<a href="{% url 'user_home' %}">
  <span>GOOD </span><span class="logo1">JOB</span>
</a>
{% endblock %}




{% block nav_profile %}
<img src="{% static 'image/lion.jpg' %}" />
{% endblock %}               

{% block nav_name %}
<p class="nav_name">user</p>
{% endblock %}

{% block nav_info %}
<p class="user_login">
  
  <form method="POST">
    <div class="int-area">
        <label for="id">아이디</label>
        <input type="text" name="id" id="id" autocomplete="off" required width="300px">
    </div>

    <div class="int-area">
        <label for="pw">비밀번호</label>
        <input type="password" name="pw" id="pw" autocomplete="off" required>

    </div>

    <div class="btn-area">
        <button type="submit">LOGIN</button>
    </div>

</form>

<a class="u_sign_up" href="{% url 'user_sign_up' %}"><button type="submit">회원가입</button></a>

</p>
{% endblock %}































{% block contents %}
<!-- 여기도 index.html 페이지에 고유하게 들어갈 내용을 block태그 안에 작성해주면 뼈대는 base.html을 가져오고
안에 내용만 바꿔서 보여줄 수 있습니다. -->
<h1>개인 메인 페이지</h1>

<!-- <a href="{% url 'new' %}"> 
  <h2>메모하기</h2>
</a>


<a href="{% url 'create' %}"><h2>글쓰기</h2></a>  

<img src="{% static 'image/혁이.jpg' %}" />

{% for i in all_memo %}

<a href="{% url 'detail' i.id %}"> 
  <h1>{{i.title}}</h1> 
</a>

{% if i.pic %} 

<p><img src="{{i.pic.url}}" alt="고양이사진"></p>
{%endif%}

<p>{{i.desc}}</p>
<p>{{i.created_at}}</p>
<hr />
<hr />
{%endfor%}
 -->

<!-- <form method="POST">
  {% csrf_token %}
  <input type="text" name="mydata" />
  <input type="submit" value="POST로 제출!" />
</form> -->

{% endblock %}
