/* a,a:visited{
    color:white;
    a tag 의 파란색 색깔을 white로 바꿔주기 위함입니다.
} */
/* *{
    box-sizing: border-box;
    전체 tag들에 대해서 box-sizing 을 border-box로 설정하면;
} */
/* body{
    background-color: #577194;
    
    최소 높이를 우리가 보는 화면기준 X2배만큼 설정해줬습니다(nav바의 움직임을 보기위해서 설정했습니다)
    min-height: 200vh;
    margin:0;
    기본 body에 margin이 들어가 있으므로 

    position: relative;
    footer위치를 잡아주기위해서 body의 position을 relative로 설정해줬습니다.
} */

/* nav{
    background-color: #1e2a3a;
    color:white;

    네브바의 position을 sticky로 두고 top:0로 둔다면 상단에 고정된 nav바를 만들 수 있다.
    position: sticky;
    top:0px;

    width:100%;
    height: 60px;

    padding:10px;
    z-index:5;
}

footer{
    body내를 기준으로 bottom에 붙여놔야하므로 absolute positon을 줍니다.
    bottom:0;

    position: absolute;
    height: 100px;
    width:100%;
    background-color: #0c1118;
    color:white;
    padding:20px;
} */





a,a:visited{
    text-decoration:none; color: #333;
}

*{
    box-sizing: border-box;
}

body{
  font:14px/1.8 Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.frame {
  /* width: 800px; */
  margin: 0 auto;
  /* border: 1px solid #aaa; */
  min-height: 100vh;
  position: relative;

}

.header{
    background-color: #ffffff;
    border-bottom: 2px solid rgba(212, 212, 212, 0.568);
    position: relative;
    top:0px;

    width:100%;
    height: 80px;
    padding:10px;
    z-index:5;
}

.helper{
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo_home{
    display: inline;
    padding-left: 20px;
    height: 60px;
    width: 70px;
    font-size: 65px;
    font-weight: bold;
}

.logo1{
    color: #ff8b1f;
}

/* .logo_btn{
    position: absolute;
    right: 0;
    padding-right: 15px;
    padding-top: 10px;
} */

.container{
    /* display: inline; */
}

.nav{
  width: 300px;
  height: 91.8%;
  background-color: #ffffff;
  color: #333;
  /* margin-right: 8px; */
  /* border-right: 1px solid #333; */
  text-align: center;
  
  position: absolute;
  left:0px;
  margin-top: 5px;

  padding:10px;
  z-index:5;

  border: 1.5px solid #cfcfcf;
}


.pro_box{
    width: 80px;
    height: 80px;
    border-radius: 70%;
    overflow: hidden;
    display: block;
    margin: auto;
}

.nav_profile{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.nav_name{
    font-size: 25px;
    font-weight: bold;
    margin: 2px;
}

.nav_info{
    margin: 0;
}

.nav_title{
    text-align: left;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 10px;
}

.nav_list{
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

/* .nav-item {
  margin: 4px 0;
}

.nav-link {
    display: block;
    text-decoration: none;
    padding: 4px 10px;
}

.nav-link:hover{
    background: #5457de;
} */

.content{
    margin-left: 300px;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

/* .con_name{
    margin-top: 150px;
} */

.enroll_title{
    /* border: 0.3px solid #333; */
    /* border-radius: 3%; */
    margin-right: 15px;
    margin-top: 30px;
    background-color: #cfcfcf;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 3px;
    /* padding-bottom: 3px; */
    margin-bottom: 20px;
}

.con_box{
    column-width: 120px;
    color:rgb(35, 35, 36);
    text-align: center;
    background-color: #cfcfcf;
    margin-right: 15px;
    padding: 10px;
}

.footer{
    /* border-top: 1px solid #aaa; */
    position: absolute;
    text-align: center;
    bottom:0;

    height: 50px;
    /* width:100%; */

    color:rgb(61, 59, 59);
    padding:20px;
    z-index: 6;
}

.copyright{
    margin: 0;
}

