{% extends 'base.html' %}
<!--template 상속,확장하는 경우에는 extends를 먼저 작성해줍니다.-->
{% load static %}
static 요소들을 가져오기 위해서 load해줍니다.

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/co_sign_up.css' %}">
<!-- 각 페이지별로 고유하게 들어갈 head tag를 입력해줍니다. -->
{% endblock %}

{% block title %}
굿잡 기업 회원가입
{% endblock %}
<!-- base.html에서 만들었던 title block부분에 각 페이지별로 다른 title을 입려해줄수 있습니다. -->

{% block user_logo %}
<a href="{% url 'index' %}">
  <span>GOOD </span><span class="logo1">JOB</span>
</a>
{% endblock %}

{% block nav %}
{% endblock %}

{% block contents %}
<div class=all_form>
  <div class=form>
    <h1>GOOD JOB! 기업 회원가입</h1>

    <form method="POST">
      {% csrf_token %}
      <div class="form-label-group">


        <div class="form-label-group">
          {{userForm.username.label}}(ID) : {{userForm.username}} <br><br>
          {{userForm.password1.label}} : {{userForm.password1}} <br><br>
          {{profileForm.기업명.label}} : {{profileForm.기업명}} <br><br>
          {{profileForm.주소.label}} : {{profileForm.주소}} <br><br>
          {{profileForm.홈페이지주소.label}} : {{profileForm.홈페이지주소}} <br><br>
          {{profileForm.대표자명.label}} : {{profileForm.대표자명}} <br><br>
          {{profileForm.전화번호.label}} : {{profileForm.전화번호}} <br><br>
          {{profileForm.근로자수.label}} : {{profileForm.근로자수}} <br><br>
          {{profileForm.설립일.label}} : {{profileForm.설립일}} <br><br>
          {{profileForm.업종.label}} : {{profileForm.업종}} <br><br>
        </div>

        <button class="btn_signup" type="submit">회원가입</button>

      </div>
  </div>




</div>


{% endblock %}