{% extends 'base.html' %}
<!--template 상속,확장하는 경우에는 extends를 먼저 작성해줍니다.-->
{% load static %}

<!--static 요소들을 가져오기 위해서 load해줍니다.-->

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/co_sign_up.css' %}">

<!-- 각 페이지별로 고유하게 들어갈 head tag를 입력해줍니다. -->
{% endblock %}

{% block title %}

굿잡 개인 회원가입


{% endblock %}
<!-- base.html에서 만들었던 title block부분에 각 페이지별로 다른 title을 입려해줄수 있습니다. -->

{% block user_logo %}
<a href="{% url 'index' %}">

  <span>GOOD </span><span class="logo1">JOB</span>

</a>
{% endblock %}

{% block nav %}
{% endblock %}

{% block contents %}
<div class=all_form>
  <div class=form>
    <h1>GOOD JOB! 개인 회원가입</h1>

    <form method="POST">
      {% csrf_token %}
      <div class="form-label-group">


        <div class="form-label-group">
          {{userForm.username.label}}(ID) : {{userForm.username}} <br><br>
          {{userForm.password1.label}} : {{userForm.password1}} <br><br>

          {{profileForm.이름.label}} : {{profileForm.이름}} <br><br>
          {{profileForm.생년월일.label}} : {{profileForm.생년월일}} <br><br>
          {{profileForm.주소.label}} : {{profileForm.주소}} <br><br>
          {{profileForm.휴대폰번호.label}} : {{profileForm.휴대폰번호}} <br><br>
          {{profileForm.최종학력.label}} : {{profileForm.최종학력}} <br><br>
          {{profileForm.자격증.label}} : {{profileForm.자격증}} <br><br>
          {{profileForm.경력있는분야.label}} : {{profileForm.경력있는분야}} <br><br>
          {{profileForm.관심있는분야.label}} : {{profileForm.관심있는분야}} <br><br>
          {{profileForm.희망연봉.label}} : {{profileForm.희망연봉}} <br><br>
          {{profileForm.미니자기소개서.label}} (100자 이내) : {{profileForm.미니자기소개서}} <br><br>
        </div>

        <button class="btn_signup" type="submit">회원가입</button>

      </div>
  </div>




</div>


{% endblock %}