
.info_btn{
    float: center;
    min-height: 25px;
  
    width: 70%;
    background-color: rgb(255, 255, 255);

}
.enroll_btn{
    float: center;
    min-height: 25px;
  
    width: 70%;
    background-color: rgb(255, 255, 255);
}

.update_btn ,.delete_btn{
    display: inline-block;
    float: right;
    min-height: 10px;
    margin-left: 10px;
    width: 20%;
    background-color: rgb(255, 255, 255);
}


button:hover {
    background-color: rgb(241, 130, 3);
    color: #ffffff;
}


button {
    background: none;
    border: 3px solid rgb(241, 130, 3);
    border-radius: 5px;
    color: rgb(83, 83, 83);
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 1em auto;
    padding-top: 5px;
    padding-bottom: 7px;
    position: relative;
    text-transform: uppercase;
}


button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -10;
}

#id, #pw{
    width:180px;
    height:25px;
    border: 1px solid #999;
    box-sizing:border-box;
    margin-bottom: 10px;
}
.labelid{
    font-size:14px;
    color:#666;
    margin-left:15px; margin-right:22px;
}
.labelpw{
    font-size:14px;
    color:#666;
    margin-left:15px;
    margin-right:8px;
}

.th{
    padding: 8px 12px;
    background-color: #efefef;
    text-align:center;
    color:#292929;
    font-weight: normal;
    display:table-cell;
}

h3{
    font-size : 22px;
    font-weight:600;
}

.table{
    margin-top: 10px;
    border-top: 2px solid #222;
    width : 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: : collapser;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}


.tit_padding15{
    font-size: 20px;
}